<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Aboutus"></activity>
        <activity android:name=".hospital_view" />
        <activity android:name=".admin_signupc" />
        <activity android:name=".admin_signup" />
        <activity android:name=".adminsign" />
        <activity android:name=".signupp" />
        <activity android:name=".fe" />
        <activity android:name=".up" />
        <activity android:name=".myreports" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contactus"
            android:label="@string/title_activity_contactus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nav_home"
            android:label="@string/title_activity_nav_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".rej" />
        <activity android:name=".acc" />
        <activity android:name=".admindoclook" />
        <activity android:name=".admindoctors" />
        <activity android:name=".doclook" />
        <activity android:name=".adddoc" />
        <activity android:name=".doctors" />
        <activity android:name=".thanku" />
        <activity android:name=".reject" />
        <activity android:name=".adminlook" />
        <activity android:name=".look" />
        <activity android:name=".mybook" />
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checkfeeds" />
        <activity android:name=".checkbook" />
        <activity android:name=".checkreports" />
        <activity android:name=".adminhome" />
        <activity
            android:name=".home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".subreport" />
        <activity android:name=".feedback" />
        <activity android:name=".password" />
        <activity android:name=".register" />
        <activity android:name=".book" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>